<table>
  </tr>
    <th> League Name </th>
    <th> Size </th>
  </tr>
  <% @leagues.each do |l| %>
    <tr>
      <td> <%= l.name %> </td>
      <td> <%= l.num_of_fleets %> </td>
      <td> <%= admin(l).username %> </td>
    </tr>
  <% end %>
</table>
